body{
    padding: 2rem;
}

.table{
    display: table;
    border-collapse: separate;
    border-spacing: 5px;
    background: #BDBDBD;
}

table td, .number, .operator, .dot, .clean, .input{
    width: 6rem;
    height: 4rem;
    font-size: 26px;
}

.rounded, .number, .operator{
    border-radius: 5px;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.bg-light{
    color: white;
}

.bg-accent{
    background: #BDBDBD;
}

.w-100{
    width: 100%;
}